<?xml version="1.0" encoding="utf-8" ?>
<!-- Add this element -->
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="NHibernate.Test">
    <!--命名空间-->
    <!--定制IDriver的类型-->
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <!--用来获得连接的连接字符串-->
    <property name="connection.connection_string">
      initial catalog=wldb;Data Source=localhost;User Id=root;Password=123456;CharacterSet=utf8;
      pooling=true;min pool size=5; max pool size=100;Connection Timeout=100;SslMode=none;
    </property>
    <!--NHibernate方言（Dialect）的类名 - 可以让NHibernate使用某些特定的数据库平台的特性-->
    <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    
    <mapping assembly="ConsoleTest"/>
  </session-factory>
</hibernate-configuration>
